<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ThymeLeaf testing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p class="tl_test-p" th:style="'color: lime'" th:text="${online}">Offline</p>
    <link type="text/css" rel="stylesheet" href="style.css" th:href="@{ ${pageRoot} + '/style.css'}" />
  </body>
</html>